package {{package}};

{{#imports}}
import {{import}};
{{/imports}}

import io.jooby.*;
import org.jetbrains.annotations.NotNull;

{{#operations}}
public class {{classname}} { {{#operation}}{{#summary}}
    /**
    * {{.}}
    **/{{/summary}}
    @NotNull
    public {{returnType}} {{operationId}}(Context ctx) {
        ctx.setResponseCode(StatusCode.NOT_IMPLEMENTED);
        return new {{defaultResponse}}();
    }

    {{/operation}}
}
{{/operations}}
