package org.simpleserver.controllers;

{{#imports}}
import {{import}};
{{/imports}}

import io.jooby.*;
import java.util.function.*;
import com.google.gson.Gson;

{{#operations}}
public class {{classname}} extends Jooby {
    private static final Gson GSON = new Gson();
    public {{classname}}() {
        setServerOptions(new ServerOptions().setPort({{serverPort}}));
    {{#operation}}
        {{httpMethod}}("{{path}}", json(this::{{operationId}}));
    {{/operation}}
    }

    {{#operation}}
    @Override
    public {{returnType}} {{operationId}}(Context ctx) {
        ctx.setResponseCode(StatusCode.NOT_IMPLEMENTED);
        return new {{defaultResponse}}();
    }

    {{/operation}}


    public <T> Function<Context, String> json(Function<Context, T> executor) {
        return ctx -> {
            T val = executor.apply(ctx);
            if (val == null)
                return "";
            return GSON.toJson(val);
        };
    }
}
{{/operations}}
