package {{package}};

import static org.junit.Assert.assertEquals;
import org.junit.Test;
import io.jooby.*;

public class {{classname}}Test {
    private MockRouter router = new MockRouter(new Endpoint());
{{#operations}}{{#operation}}
    @Test
    public void testHandle{{operationId}}() {
        router.{{httpMethod}}("{{{basePathWithoutHost}}}{{{path}}}", response -> {
            assertEquals(StatusCode.NOT_IMPLEMENTED, response.getStatusCode());
        });
    }
    {{/operation}}{{/operations}}
}