{{#apiInfo}}
package {{apiPackage}};

{{#imports}}
import {{import}};
{{/imports}}

import io.jooby.*;
import io.jooby.json.JacksonModule;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.databind.SerializationFeature;

public class Endpoint extends Jooby {

    public Endpoint() {
        setServerOptions(new ServerOptions()
                .setHttp2(true)
                .setCompressionLevel(4)
                .setPort({{serverPort}}));

        ObjectMapper objectMapper = JacksonModule.create()
                .disable(SerializationFeature.FAIL_ON_EMPTY_BEANS);

        install(new JacksonModule(objectMapper));

    {{#apis}}{{#operations}}
        {{classname}} {{lowerClassname}} = new {{classname}}();{{/operations}}{{/apis}}

        path("{{{basePathWithoutHost}}}", () -> { {{#apis}}{{#operations}}{{#operation}}
            {{httpMethod}}("{{path}}", {{lowerClassname}}::{{operationId}});{{/operation}}{{/operations}}{{/apis}}
        });
    }

    public static void main(String[] args) {
        runApp(args, Endpoint.class);
    }
}
{{/apiInfo}}